<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la ruta es archivo o directorio real, se muestra normalmente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Si NO existe el archivo, responde SIEMPRE con index.html (SPA)
    RewriteRule ^ index.html [L]
</IfModule>
